
html {
    /* So that padding don't affect 
    the final width or height of the elements */
    box-sizing: border-box; 
    font-size: 100%;
}

/* For all elements and psuedo elements */
*, *::before, *::after{
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

