
html {
    /* So that padding don't affect 
    the final width or height of the elements */
    box-sizing: border-box; 
    font-size: 100%;
}

/* For all elements and psuedo elements */
*, *::before, *::after{
    box-sizing: inherit;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-family: 2rem;
    padding: 0 3 rem;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color:chartreuse;
}

/* To display map properly -> Giving map an explicit height setting */
#map {
    height: 90vh; /* Unit: viewport height */
}